* text=auto eol=lf

*.ps1 text working-tree-encoding=UTF-8
*.sh text eol=lf
*.md text working-tree-encoding=UTF-8
*.yml text working-tree-encoding=UTF-8
*.yaml text working-tree-encoding=UTF-8
*.example text working-tree-encoding=UTF-8

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
